body {
  background-color: #F2E5D5;
	color: #777777;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  line-height: 1.5;
	background-image: url("../images/Lure.jpg");
	margin-bottom: 100px;
}

*	 {
	box-sizing: border-box;
}

/* About Page */
/* Top Level Styling */	

h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	padding-bottom: 30px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 30px;
}

h1 {
	font-size: 30px;
	border-bottom: 2px solid #cccccc;
}

h2 {
	font-size: 22px;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

header {
	background-color: #ffffff;
	margin-bottom: 40px;
	border-bottom: 2px solid #cccccc;
}

#logo {
	float: left;
	display: block;
	background-color:#4aaaa5;
	color: #ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 30px;
	line-height: 70px;
	
}

/* Navigation Bar */

nav {
	float: right;
}

nav ul {
	display: block;
}

nav ul li {
	display: inline-block;
	line-height: 70px;
}

nav ul li a {
	text-decoration: none;
	color: #777777;
	margin-left: 20px;
	line-height: 22px;
	padding-left: 20px;
	border-left: 1px solid #dddddd;
}

nav ul li:first-child a {
	border-left: 0;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}

/* Sticky Footer */
.footer {
	position: fixed; 
	text-align: center;
	font-size: 12px;
	line-height: 50px;
	background-color:#666666;
	color: #cccccc;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 6px solid #4aaaa5;
} 

/* Styling for the content box */
.box {
	background-color: #ffffff;
	padding: 30px;
	border: 1px solid #dddddd;
}

#content {
	float: left;
	width: 960px;
}

.myphoto {
	float: left;
	margin-right: 30px;
}

/* Styling for Portfolio Page*/

.sports {
  position: relative;
  float: left;
	width: 374px;
  margin: 20px 0 25px;
  overflow: auto;
}

.sportswork:nth-child(even) {
  margin-right: 40px;
}

.sports img {
  width: 60%;
  border: 0 none;
  opacity: 0.8;
}

.sports h3 {
  position: absolute;
  bottom: 0px;
  width: 60%;
  padding: 10px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
  font-size: 22px;
}

/* Styling for Contact Page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 150px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
	background: #4aaaa5;
	border: 0 none;
}


/* Some Bonus Elements Added Here */

/* Logo Hover effect */
#logo:hover, input[type=submit]:hover {
	background: #16AAA5;
	border: 1px solid #dddddd;
	color: #dddddd;
}


/* Nav Hover effect*/
nav a:hover {
  color: #404b4a;
}


/* Ab0ut Photo Hover Spin effect*/
.myphoto { transition: all 0.3s ease-in-out 0s; }

.myphoto:hover
{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}



/***  Responsive - Media queries added to correctly render page content at screen resolution breaks of 980px, 768px & 640px. ***/


/* Sized for screens up to 980 pxels. */
@media screen and (max-width: 980px) {

	.wrapper {	
		width: 90%;	
		padding: 0px;
	}

	#content {
		float: right;
		width: 100%;
	}
}

/* Sized for screens up to 768 pxels. */
@media screen and (max-width: 768px) {

	.wrapper {	
		width: 90%;	
		padding: 0px;
	}

	#content {
		float: right;
		width: 100%;
	}
}

/* Sized for screens up to 640 pxels. */
@media screen and (max-width: 640px) {

	.wrapper {	
		width: 90%;	
		padding: 0px;
	}

	
	nav {
		float: left;
	}
		
	nav ul {
		display: block;
	}
		
	nav ul li {
		display: inline-block;
		line-height: 70px;
	}
		
	nav ul li a {
		text-decoration: none;
		color: #777777;
		margin-left: 0;
		line-height: 22px;
		padding-left: 10px;
		border-left: 1px solid #dddddd;
	}
		
	nav ul li:first-child a {
		border-left: 0;
	}
	
	
	#content {
		float: left;
		width: 100%;
	}
}
